<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaiTapGiuaKiMonKiemThu.Properties.Settings.CuaHangThuCungConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CuaHangThuCung.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BaiTapGiuaKiMonKiemThu.Properties.Settings.PetStoreConnectionString"
            connectionString="Data Source=DESKTOP-C5FJA28;Initial Catalog=PetStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>